{% extends "base.html" %}

{% block title_text %}
  <div>
      <ol class="breadcrumb">
        <li><a href="{{url_for('list_super_domains')}}">All primary domains</a></li>
        <li><a href="{{url_for('list_domains', primary_domain_url=super_domain['url'])}}">{{super_domain['name']}}</a></li>
        <li class="active"><a href="{{url_for('list_subdomains', super_domain_url=super_domain['url'], domain_url=domain['url'])}}">{{domain['name']}}</a></li>
      </ol>
  </div>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading lead">Выберите интересующий подраздел</div>
    <div class="panel-body">
      <p>Активные ссылки имеют только обработанные на данный момент поддомены</p>
    </div>

{% endblock title_text %}

{% block content %}
    <table class="table">
          <tbody>
            {% for subdomain in list_of %}
              {% if loop.index % 3 == 1 %}
              <tr>
              {% endif %}
                <td width="33%">{% if subdomain['is available'] %}<a href="{{url_for('subdomain_view', super_domain_url=super_domain['url'], domain_url=domain['url'], subdomain_url=subdomain['url'])}}">{{subdomain['name']}}</a> {% else %}  {{subdomain['name']}} {% endif %}</td>
              {% if loop.last and loop.index % 3 == 1 %}
                <td width="33%">&nbsp;</td>
                <td width="33%">&nbsp;</td>
              </tr>
              {% endif %}
              {% if loop.last and loop.index % 3 == 2 %}
                <td width="33%">&nbsp;</td>
              </tr>
              {% endif %}
              {% if loop.index % 3 == 0 %}
              </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
        </div>
{% endblock content %}