{% extends "base.html"%}
{% block title_text %}
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading lead">Выберите интересующий основной раздел</div>
    <div class="panel-body">
      <p>Активные ссылки имеют только обработанные на данный момент основные домены</p>
  </div>
{% endblock title_text %}
{% block content %}
  <div>
    <table class="table">
          <tbody>
            {% for domain in list_of %}
              {% if loop.index % 3 == 1 %}
              <tr>
              {% endif %}
                <td width="33%">{% if domain['is available'] %}<a href="{{url_for('list_domains', primary_domain_url=domain['url'])}}">{{domain['name']}}</a> {% else %}  {{domain['name']}} {% endif %}</td>
              {% if loop.last and loop.index % 3 == 1 %}
                <td width="33%">&nbsp;</td>
                <td width="33%">&nbsp;</td>
              </tr>
              {% endif %}
              {% if loop.last and loop.index % 3 == 2 %}
                <td width="33%">&nbsp;</td>
              </tr>
              {% endif %}
              {% if loop.index % 3 == 0 %}
              </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
{% endblock content %}